@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-sakura-pink: #FFB7C5;
  --color-sakura-blue: #87CEEB;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}